---
layout: layouts/base.njk
title: Tags
permalink: /tags/
---
<h1>Tags</h1>

{% set numTerms = collections.tagList | length %}
<ul class="taxonomy-list{% if numTerms > 16 %} three-column{% elif numTerms > 8 %} two-column{% endif %}">
  {% for tag in collections.tagList %}
  {% set taggedPosts = collections.posts | postsWithTag(tag) %}
  {% set pageCount = taggedPosts | length %}
  <li>
    <a href="/tags/{{ tag | slugify }}/">#{{ tag }}</a>
    ({{ pageCount }} {{ "post" if pageCount == 1 else "posts" }})
  </li>
  {% endfor %}
</ul>
