<nav class="main-menu" aria-label="Main Menu">
  <a class="skip-to-content" href="#main">Skip to main content</a>
  <button class="main-menu-dropdown-button" popovertarget="nav-menu">Menu</button>
  <ul id="nav-menu" class="main-menu-items" aria-label="Site Navigation" popover>
    {% for item in site.mainMenu %}
    <li>
      <a href="{{ item.url }}"{% if item.newTab %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
